*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 20px;
}

body{
    background-color: hsl(233, 47%, 7%);
    padding: 50px;
}

.modelbox{
    border-radius: 7px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1080px;
    flex-direction:row-reverse;
    overflow: hidden;
}

.imagencontainer{
    background-color: rgb(223, 68, 215);
    width: 540px;
    height: 446px
}

.textcontainer{
    width: 540px;
    height: 446px;
    background-color: hsl(244, 38%, 16%);
    padding: 5% 10% 5% 5%; 
}

span{
font-size: 40px;
color:  rgb(223, 68, 215);
}

img{
    opacity: 0.5;
    
}

.textcontainer__element{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.textcontainer__element{
    display: flex;
    flex-wrap: wrap;
}

.textcontainer__element div{
    width: 125px;
    height: 125px;
}

.textcontainer__element b{
    font-size: 25px;
}

@media only screen and (max-width: 1180px){
    *{
        text-align: center;
    }
    
    .modelbox{
        width: 375px;
        height: 980px;
    }



    .textcontainer__element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagencontainer{
        width: 375px;
        height: 309.2px;
    }

    .textcontainer{
        height: 980px;
        background-color: hsl(244, 38%, 16%);
        padding: 5% 5% 5% 5%; 
        }

    .textcontainer__element div{
        width: 125px;
        height: 90px;
    }



}